* {
  list-style-type: none;
  text-decoration: none !important;
  font-family: "Lato";
  margin: 0 !important;
  padding: 0 !important;
}

:root {
  --padding-btn : 10px 15px;
  --border-btn : 1px solid rgb(207, 207, 207);
  --primaryColor : rgb(244, 244, 244);
  --secondaryColor : #0d6efd;
  --tertiaryColor : rgb(207, 207, 207);

}

body {
  background-color: var(--primaryColor) !important;
}

/* NAV */

nav {
  background-color: black !important;
  position: fixed !important;
  z-index: 9;
  width: 100vw;
}

nav .container-fluid {
  padding: 0 20px !important;
}

.navbar-brand {
  color: var(--primaryColor) !important;
}

nav .btn, select {
  padding: var(--padding-btn) !important;
  border: var(--border-btn)
}

nav .btn:hover {
  background-color: var(--secondaryColor) !important;
  border: 1px solid var(--secondaryColor) !important;
  color: white !important;
}


.btn-group {
  width: 50vw !important;
  background-color: white !important;
}

.form-select {
  width: 15vw !important;
}

/* CARDS */

.shopping-list {
  padding: 100px 5vw 2vh!important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5vw;
}

.card > div >:first-child {
  margin-right: 10px !important;
  object-fit: contain;
}

.card {
  background: linear-gradient(150deg, white 20%, var(--primaryColor)) !important;
  border: none !important;
  box-shadow: 0 0 25px var(--tertiaryColor);
}
